config:
  debugEnabled: true
  adminEnabled: true
  preInit: true

  organizationName: "firefly-os"
  organizationKey: "firefly-os"

  fabconnectUrl: "http://fabconnect.firefly-os"

  postgresUrl: "postgres://postgres:firef1y@postgresql.default.svc:5432?sslmode=disable"
  postgresAutomigrate: true

  ipfsApiUrl: "http://ipfs.firefly-os:5001"
  ipfsGatewayUrl: "http://ipfs.firefly-os:8080"

dataexchange:
  certificate:
    enabled: true
    issuerRef:
      kind: ClusterIssuer
      name: selfsigned-ca

  tlsSecret:
    enabled: false
