**/node_modules
**/coverage
**/.nyc_output
**/.git*
**/.vscode
/smart_contracts/ethereum/solidity_firefly/artifacts
/smart_contracts/ethereum/solidity_firefly/build
/smart_contracts/ethereum/solidity_firefly/cache
/firefly
/firefly-nocgo
/docs/vendor
/docs/_site
coverage.txt
codecov.yml
