solidity/node_modules
solidity/build
solidity/package-lock.json
solidity_new/node_modules
solidity_new/build
solidity_new/package-lock.json
core/node_modules
core/.nyc_output
core/coverage
core/build
core/test-resources/sandbox
utils/kat-client/node_modules
**/*.jar
firefly
coverage.txt