solidity_kat/node_modules
solidity_kat/build
solidity_kat/package-lock.json
smart_contracts/ethereum/solidity_firefly/node_modules
smart_contracts/ethereum/solidity_firefly/build
smart_contracts/ethereum/solidity_firefly/package-lock.json
utils/kat-client/node_modules
**/*.jar
firefly
firefly-nocgo
coverage.txt
**/debug.test
.DS_Store
frontend
__debug*