# SPDX-License-Identifier: Apache-2.0

# FireFly Core Maintainers
* @peterbroadhurst @nguyer @awrichar @shorsher

# FireFly Documentation Maintainers
/docs @peterbroadhurst @nguyer @awrichar @shorsher @nickgaski