apiVersion: v2
name: firefly
description: A Helm chart for deploying FireFly and FireFly HTTPS Dataexchange onto Kubernetes.
type: application
appVersion: "0.11.4"
version: "0.0.1"

maintainers:
  - name: hfuss
    email: hayden.fuss@kaleido.io
  - name: drewmarshburn
    email: drew.marshburn@kaleido.io
  - name: peterbroadhurst
    email: peter.broadhurst@kaleido.io
